<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'benefits', 'committee' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="threeColumns-1 rich-text">
	<h1>Philanthropic Comittee</h1>
	<p>Making positive contributions within the community is a key value of the Cleveland Professional 20/30 Club.   By contributing our time, energy, skills, and ideas, to causes and missions we are passionate about, we invest in making Cleveland a terrific place to live and work.  Cleveland has a strong history of philanthropy through the work of foundations, charities, businesses, and citizens.  The Club continues this tradition, through the work of the Philanthropy Committee.</p>
	<p>The Cleveland area has more than 1,900 nonprofits, each striving to provide services for important causes in the community.  Over the past few years, demand for these services has escalated, while access to funding and talent to support the organizations are becoming scarce. There is a tremendous need for the volunteer hours, leadership, and technical skills that young professionals bring to the table.  However, many of these nonprofits are finding it difficult to access and engage our demographic. Here is where the Philanthropy Committee is helping!</p>
	<p>The Philanthropy Committee is made up of a diverse group of talented and passionate young professionals who work on a number of projects to engage Club members in community activities.  Throughout the year the committee will offer experiences and opportunities in one of three categories:</p>
	<ul>
		<li>Volunteer Projects:  These are scheduled activities that allow Club members to roll up their sleeves and do hands on work.  Projects include park clean ups, medical supply sorting, mentoring youth, sorting food at a food bank, and working with individuals with developmental disabilities.</li>
		<li>Fundraising Events:  The committee will partner with a charity, and host a gala or some other event to raise money for this charity. Events include the 20/30 Club Golf Outing, a "Stuff the Stocking" happy hour event, casino events, and more.</li>
		<li>Leadership Development:  The Committee is also working to raise awareness of the need for young professionals to assume leadership roles in nonprofit organizations within the community.  We conduct educational webinars, and also host meet up events, where young professionals can meet nonprofits and discuss opportunities to be involved.</li>
	</ul>
</div>

