<div class="twoColumns-0">
  <h1>Member Rewards</h1>
  <p>The Cleveland Professional 20/30 Club is in the process of updating our
    Member Rewards program to make it even more worthwhile for our members.</p>
  <p>This page will be updated with new listings as soon as the program is
    fully revised. In the meantime, please check out our <%= link_to 'Calendar Events', calendar_path %>
    page to see what's new and take advantage of the reduced event ticket
    prices that are just one of the many benefits of club membership.</p>
</div>

<%= render :partial => '/shared/additional_marketing' %>
