<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'rewards', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">
  <h1>Member Rewards</h1>
  <h2>Recreation</h2>
  <ul class="company-list">
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
  </ul>
  
  
  <ul class="company-list">
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
    <li class="company">
      <a href="#" class="company-logo"><img src="/images/logo2.gif" width="70px" ></a>
      <div class="company-info">
        <a href="#">Company Name XXXXXX</a>
        <div class="company-meta">
          <div><strong>Deal</strong> <span class="company-info">Lorem ipsum doro lorem ipsum doro</span></div>
          <div><strong>Located</strong> <span class="company-info">Coventry, Downtown</span></div>
        </div>
      </div>
    </li>
  </ul>
</div>

<%= render :partial => '/shared/additional_marketing' %>