<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Past Board Members</h1>

	<div class="section board">
		<dl class="rich-text">
			<dt>AMY ASSEFF</dt>
			<dd>Emeritus Board Member</dd>
			<dt>MEG CONNELL</dt>
			<dd>Emeritus Board Member</dd>
			<dt>ANGIE FERENCHAK</dt>
			<dd>Emeritus Board Member</dd>
			<dt>BRETT FILOUS, CPA</dt>
			<dd>Emeritus Board Member</dd>
			<dt>STACYFIRMAN, CPA</dt>
			<dd>Emeritus Board Member</dd>
			<dt>ANNMARIE GRASSI</dt>
			<dd>Emeritus Board Member</dd>
			<dt>JEFF GRIFFITHS</dt>
			<dd>Emeritus Board Member</dd>
			<dt>ELIZABETH HILL, ESQ.</dt>
			<dd>Emeritus Board Member</dd>
			<dt>EVAN ISHIDA</dt>
			<dd>Emeritus Board Member</dd>
			<dt>KANDACE A. KOCJAN, MAT</dt>
			<dd>Emeritus Board Member</dd>
			<dt>NIC LABUZ</dt>
			<dd>Emeritus Board Member</dd>
			<dt>KELLY MCGLUMPHY</dt>
			<dd>Emeritus Board Member</dd>
			<dt>AMIE MECZKA</dt>
			<dd>Emeritus Board Member</dd>
			<dt>BISI MEKLEUS</dt>
			<dd>Emeritus Board Member</dd>
			<dt>ANGELA NEAL</dt>
			<dd>Emeritus Board Member</dd>
			<dt>ERIC PURCELL</dt>
			<dd>Emeritus Board Member</dd>
			<dt>KATIE ROACH</dt>
			<dd>Emeritus Board Member</dd>
			<dt>MATT RODAK</dt>
			<dd>Emeritus Board Member</dd>
			<dt>STEPHANIE SEELEY</dt>
			<dd>Emeritus Board Member</dd>
			<dt>LARRY SEILER</dt>
			<dd>Emeritus Board Member</dd>
			<dt>MICHAEL SHAW</dt>
			<dd>Emeritus Board Member</dd>
			<dt>DOUG TAYEK</dt>
			<dd>Emeritus Board Member</dd>
			<dt>KIM WYSOCKI</dt>
			<dd>Emeritus Board Member</dd>
			<dt>BOB ABER</dt>
			<dd>Emeritus Board Member</dd>
			<dt>NICOLE SCHIRO</dt>
			<dd>Emeritus Board Member</dd>
		</dl>
	</div>
	<br><br>
	<h1>Past Presidents of the Club</h1>
	<div class="section board">
		<dl class="rich-text">
			<dt>LUKE ELSASS</dt>
			<dd>Founder</dd>
			<dt>ADAM TOMLINSON</dt>
			<dd>President, 2004-2005</dd>
			<dt>BRANDON DAVIS</dt>
			<dd>President, 2005-2006 (Advisory Council)</dd>
			<dt>ANN WEINZIMMER</dt>
			<dd>President, 2006-2007 (Advisory Council)</dd>
			<dt>BRIAN KLECAN</dt>
			<dd>President, 2007-2008 (Advisory Council)</dd>
			<dt>RYAN ANDERSON</dt>
			<dd>President, 2008-2009 (Advisory Council)</dd>
			<dt>DAN YOUNG</dt>
			<dd>President, 2009-2010 (Advisory Council)</dd>
			<dt>ANDREW WALLECK</dt>
			<dd>President, 2009-2010 (Advisory Council)</dd>
		</dl>
	</div>
</div>
