<%= render :partial => 'nav' %>

<div class="twoColumns-0">
<h1>Who we are</h1>
<p>The Cleveland Professional 20/30 Club is you. We are a group of young professionals who are working to create a thriving community for us in Northeast Ohio. The Club provides a place where we socialize, network, discover and volunteer; it's an organization where you can enjoy life.</p>
<p>As an independent, open and inclusive group, our membership is as diverse as our interests. Our events range from monthly Around Town Happy Hours to weekly networking breakfasts.The Club provides opportunities to meet other YPs, get connected and get involved. We are a part of Cleveland and want you to be a part of the Club.</p>
<br><br>
<h1>History of the Club.</h1>
<p>Making the transition from school to a career takes work. It is not easy to do by yourself. About ten years ago, a few people decided they did not want to do it alone; they wanted to meet other like-minded, young professionals. They decided to meet monthly and discuss "being young in Cleveland." In 2001, Luke Elsass and other YPs from the City formed what is now The Cleveland Professional 20/30 Club.</p>
<p>During the early years, under Luke's leadership, the future of the Club took shape. The members organized monthly events around four areas: Social, Education, Philanthropy and Networking. Each event drew new people into the group. Soon word spread beyond the founders and reached a wider audience of YPs in the region.</p>
<p>Three years after Luke founded the Club, its' popularity began to spread. The Club was growing, the future looked bright, and no one anticipated what came next. The Cleveland Plain Dealer published an article on the Club, spotlighting its popularity, its members, and its importance to the YP community. Following that article, membership exploded.</p>
<p>When the Plain Dealer article appeared in 2004, the Club hosted a total of eight philanthropy, five educational, four networking, and four major social events along with the monthly Around Towns. In 2009, the Club hosted over 130 events. The Cleveland Professional 20/30 Club became the state's largest young professional group in 2007 and has never looked back.</p>
<p>As we look forward to our 10th anniversary, we look back with pride on those who came before us; those who volunteered countless hours, invested continuous energy and passion, and laid the foundation for what the Club is today.</p>
</div>

<%= render :partial => '/shared/additional_marketing' %>