<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Thank you <%= @user.email %> for registering the event <%= @event.name %>.</h2>
    <p>
      Please visit <%= @url %> to learn more about upcoming events.<br /%>
      Thank you for your registration!<br />
    </p>
    <p>
      Regards:<br/>
      The Cleveland 2030 Club Committee
    </p>
  </body>
</html>
