<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome <%= @user.email %> to the Cleveland 2030 Club!</h2>
    <p>
      Your account has been activated.<br/>
      Please visit <%= @url %> and log on with your email and password.<br /%>
      Enjoy being a member of the 2030 Club.<br />
    </p>
    <p>
      Regards:<br/>
      The Cleveland 2030 Club Committee
    </p>
  </body>
</html>
