<h1>New Participant</h1>
<form action="/registration" class="" id="" method="post">
<div class="twoColumns-0">
	<div class="mod">
		<div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="JQGk/thbsmbuNEgT0WCGZx2NIuUlhG8emfHseLb3YjU="></div>

		  <fieldset>
		    <legend><span><strong>Company Information</strong></span></legend>
		    <div class="form-node">
		      <label for="">Name</label>
		      <input id="" name="" type="text">
		    </div>
		    <div class="form-node">
		      <label for="">URL</label>
		      <input id="" name="" type="text">
		    </div>
		    <div class="form-node">
		      <label for="">Bio</label>
		      <textarea id="" name="" ></textarea>
		    </div>
		    <div class="form-node">
		      <label for="">Logo</label>
		      <input id="" name="" type="file">
		    </div>
		  </fieldset>

		  <fieldset>
		    <legend><span><strong>Personal Information</strong></span></legend>
		    <div class="form-node">
		      <label for="">Bennefit</label>
		      <textarea id="" name="" ></textarea>
		    </div>
		    <div class="form-node">
		      <label for="">How to Redeem</label>
		      <textarea id="" name="" ></textarea>
		    </div>
		  </fieldset>

	</div>
</div>
<div class="twoColumns-1">
	<div class="mod">
		<fieldset class="checklist">
	    <legend><span><strong>Select a Category</strong></span></legend>
	    <div class="form-node">
				<label for=""><input type="radio" class="radio"> Food & Drink</label>
	    </div>
	    <div class="form-node">
				<label for=""><input type="radio" class="radio"> Food & Drink</label>
	    </div>
	    <div class="form-node">
				<label for=""><input type="radio" class="radio"> Food & Drink</label>
	    </div>
	    <div class="form-node">
				<label for=""><input type="radio" class="radio"> Food & Drink</label>
	    </div>
	  </fieldset>
	</div>
</div>
<div class="formAction clear">
  <input id="registration_submit" name="commit" type="submit" value="Submit">
</div>
</form>