div.twoColumns-0, div.twoColumns-1{ float: left; }
div.twoColumns-1 { width:200px; }
div.twoColumns-0, { width:auto; }
.sub-nav { padding:20px 60px 20px 15px; background-image:url("/images/subnav-background2.gif"); background-repeat:no-repeat; background-position:0 top; }
.sub-nav li { list-style-type:none; } 
.sub-nav li a { display:block; padding:6px 0 6px 12px;}
.board dt{font-weight: bold;margin-bottom:0;}
.board dd{border-bottom:1px dashed #aaa;}
.board-email{float:right;}