<p>
  Our records indicate that your membership is going to expire on <%= current_user.expired_at.strftime("%m/%d/%Y") %>.  Rewew your membership to continue receiving all the benefits of our <%= link_to "Membership Rewards Program", membership_rewards_path %> and discounts to paid events.
</p>