<p>Our records indicate that your membership has expired on <%= membership_expiration %>.  Renew your membership to continue receiving the many benefits of membership, including exclusive access to certain 20/30 events, as well as discounted tickets to large scale social and cultural events in the city.</p>
