<% if current_user and current_user.logged_in? %>
	
	<div class="twoColumns-0">
	  <h1>Edit Profile</h1>
	  <% form_for @user do |f| %>
	  <%= f.error_messages %>
	  <%= render "edit_form", :f => f %>
	  <div class="formAction clear">
	    <%= f.submit "Save" %>
	  </div>
	  <% end %>
	</div>
   		
<% else %>

	<p>You must be logged in to see your account</p>

<% end %>
