<div class="twoColumns-0">
  <h1>Registration: membership dues <%= link_to "I already have an account", login_path, class: "tiny right" %></h1>
  <form>
    <p style="font-weight: bold; color: #CC0000;"><%= flash[:notice] %></p>
    <%= render "review_form" %>
    <div class="formAction clear">
      <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout' %>
    </div>
  </form>
</div>

