<p>You must be logged in and an active member to <%= thing_to_do %>. You can <%= link_to "log in here", new_user_session_path%>.</p>


<h4>Not a Member?</h4>
<p>We would love for you to get to know us more. <a href="/about">learn about us</a> | <a href="/benefits">how to get involved</a> | <a href="registration/new">become a member</a>.</p>