<%= render :partial => 'nav' %>

<div class="threeColumns-1">
	<h1>Educational Comittee</h1>
	<p>Education is power.  At The Cleveland Professional 20/30 Club we believe that education is a key to personal and professional strength.  With education and knowledge, you are in a position to be a thought leader, be the go to individual, and make strides toward your next phase of life advancement.  By opening your mind to new experiences, ideas, beliefs, and people, you are laying the ground work for an exciting and rewarding future.</p>
	<p>Today it is easier than ever to become educated, but the personal touch has been greatly reduced.  We are lucky to have the technology that exists today; with the likes of Google, Facebook, and Twitter, we can learn almost anything instantaneously.  However, technology has also depersonalized learning.  Much of today's learning takes place on a one directional path, and the interaction, collaboration, and teamwork, has been largely replaced by our computer screens.</p>
	<p>The Education Committee is here to bring back the personal touch of learning.  The Club strongly believes that personal interaction is not only fun, but also tremendously valuable.  From golf and sailing lessons, to wine tastings, to world renowned interactive CEO speeches, the Education Committee offers a variety of chances to learn something new, have fun, and form great relationships at the same time.</p>
</div>

