<%= render :partial => 'nav' %>

<div class="threeColumns-1">
	<h1>Networking Comittee</h1>
		<p>In today's world, networking is an essential part of life.  Whether you are in search of a job, looking for business connections, connecting with a thought leader, or expanding your circle of friends, effective networking can lead to endless positive opportunities.  By taking advantage of networking, you open your world to new experiences, new people, and the chance to grow personally and professionally.</p>
		<p>As you know, networking can be a difficult task.  From not having the "go-getter" outgoing personality, to not knowing where to network, there are multiple hurdles that make it difficult to meet the desired people.  At the Club, we work as a team to break down those barriers and make sure you have the opportunity to get what you are looking for.</p>
		<p>The Club's Networking Committee recognizes the importance of networking in your life.  If you don't feel comfortable starting a conversation with a stranger, our Board members would be happy to make the introduction or point you to the right Club events.  Understanding our members have different reasons to network, the Networking Committee strives to offer opportunities across the spectrum.  From speaker series, to wine tastings, to breakfast and lunches, the Club creates a variety of avenues to meet those desired connections. The Club is here to connect you to Cleveland and all that is has to offer!</p>
</div>

