<%= render :partial => 'nav' %>

<div class="threeColumns-1">
	<h1>Social Comittee</h1>
	<p>The Cleveland Professional 20/30 Club strongly believes a healthy social life is integral to a high quality life.  The importance of a social life and having great friends shouldn't be a mystery; it opens your world to new experiences, new people, and an outlet to enjoy your lives outside of work.  What's better than having cool things to do?  Having cool friends to do them with.</p>
	<p>These days the pressure to be outgoing and meet new people can be intimidating and co-workers sometimes become the only people with whom we interact.  Whether you've moved here for work, you're shy, or you've lived here your whole life, sometimes the difficulty is knowing where to start.  Meeting new people and making friends can be easy for some, but the Club's social opportunities make it easy for everyone.</p>
  <p>The Social Committee is comprised of fun, energetic and creative individuals that work tirelessly for you.  Working long hours to create events that membership will find valuable, the Committee hosts a wide variety of social opportunities. Whether it's a monthly happy hour, an afternoon of rock climbing, or an evening Indians game, the Club offers a welcoming environment that's conducive for young professionals of all personalities to truly enjoy themselves and build lasting friendships.  Simply put, great friends = great times. </p>
</div>

