<div class="twoColumns-0">
	<h1>Payment Confirmation</h1>
	<div class="success">
		Thank you for becoming a member. Your registration has been a success.
	</div>
	<h3>Next Steps</h3>
	<ul class="rich-text">
	  <li><p>Please take a moment to fill out your <a href="/account">club profile</a>.</p></li>
	  <li><p>Browse some of of the other <a href'"/members">club members</a>.</p></li>
	  <li><p>Register for <a href="/calendar">upcoming events</a>.</p></li>
	  <li><p>Start getting involved by joing one of our comittees <a href="/benefits/social">Social</a>, <a href="/benefits/networking">Networking</a>, <a href="/benefits/philanthropic">Philanthropic</a>, and <a href="/benefits/educational">Educational</a>.</p></li>
	</ul>
</div>
<div class="twoColumns-1">
	<div class="sponsored-events">
		<h4>Sponsored Events</h4>

		<%= render :partial => "shared/upcoming_sponsored_events",
	  			   :collection => @sponsored_events,
	   			   :as => :event %>
	</div>
	<div class="upcomming-events">
		<h4>Upcoming Events</h4>
		<%= render :partial => "shared/upcoming_unsponsored_events",
				   :collection => @unsponsored_events,
				   :as => :event %>
	</div>
</div>