<div class="threeColumns-1">
  <h1>RSVP</h1>
  <div class="notice">
    Thank you for your interest in "<%= @order.items[0].product.name %>". Please specify how many people will be attending with you.
  </div>
  <%= form_for [:order, @order], :url => { :action => "complete_rsvp" } do |f| %>
    <fieldset>
      <legend><span><strong class="for-price">Total</strong><strong>&nbsp;</strong></span></legend>
      <div class="form-node">
        <span class="for-price"><%= text_field_tag('quantity', '1', :size => '4', :maxlenght => '4') %></span>
        <span class="label-like">Number of Attendees</span>
      </div>
    </fieldset>
    <div class="formAction clear for-price">
      <%= f.submit "RSVP" %>
    </div>
  <% end %>
</div>
