<div class="twoColumns-1">
	<div class="sub-nav">
		<ul>
			<li><%=link_to "About 20/30", about_url%></li>
			<li><%=link_to "Board of Directors", about_directors_url%></li>
			<li><%=link_to "Corporate Membership / Sponsorship", about_corporate_url%></li>
			<li><a href="/about/directors-past">Past Board Members</a></li>
		</ul>
	</div>
</div>