<% content_for :stylesheets do %>
		<%= stylesheet_link_tag 'about', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">
	
	<h1>Corporate Membership / Sponsorship</h1>
	
	<p>As a non-profit organization, it is only through the generous contributions of sponsors, partners and friends that the Club is able to offer such a dynamic mix of events and improve our programs for local young professionals. As the Club has grown significantly, it has become increasingly important to reach out for assistance and expertise.</p>
	
	<p>If you would like to contribute to the Club or for more information on the sponsorship program, please contact Eric Purcell, Sponsorship Director at 	<a href="mailto:partnership@cleveland2030.org" >Sponsorship@cleveland2030.org</a>.</p>
	
	<h2>Current Sponsors</h2>
	
	<p>We would like to thank our sponsors, partners and friends for their continued support of our mission, events and members!</p>

	<br>
	<h3 class="green">Platinum Sponsors</h3>
	
	<a target="_blank" href="http://www.nationalcity.com/careers"><img border="0" src="/images/sponsors/national_city.gif" alt="img"></a>
	
	<p><a target="_blank" href="https://content.pncmc.com/live/pnc/careers/main/index.html">PNC</a> one of the nation's largest financial institutions, offers commercial and retail banking, mortgage financing and servicing, consumer finance and asset management services through an extensive multi-state network. PNC also operates over 1,400 branches in Florida, Illinois, Indiana, Kentucky, Michigan, Ohio, Pennsylvania and Wisconsin. </p>
	
	<p>PNC is always looking for friendly, enthusiastic and talented people to join our team.&nbsp; We continue to offer new products, excellent learning and growth opportunities, exciting professional challenges and an engaging workplace.</p>
	
	<p>Join our team of more than 30,000 top professionals and reach all of your goals with us.&nbsp; Explore career opportunities at <a target="_blank" href="https://content.pncmc.com/live/pnc/careers/main/index.html">PNC Careers!</a></p>
	
	<hr>
	
	<a href="http://corporate.lubrizol.com/"><img border="0" src="/images/sponsors/lubrizol.gif" alt="img"></a>
	
	<p><a target="_blank" href="http://corporate.lubrizol.com/">Lubrizol Corporation</a> is an innovative specialty chemical company that produces and supplies technologies that improve the quality and performance of our customers' products in the global transportation, industrial and consumer markets.&nbsp; Lubrizol's industry-leading technologies in additives, ingredients and compounds enhance the quality, performance and value of customers' products, while reducing their environmental impact. With headquarters in Wickliffe, Ohio, The Lubrizol Corporation, a Fortune 500 company, owns and operates manufacturing facilities in 21 countries, as well as sales and technical offices around the world.</p>
	
	<hr>
	
	<img width="250" height="121" border="0" src="/images/sponsors/cleveland.gif" alt="img">
	
	<p><a target="_blank" href="http://www.cleveland.com/">CLEVELAND.COM</a>, the ultimate online guide to the city, is the premier news and information Web site in the state of Ohio attracting over 1.2 million unique users every single month. The Web site gives users absolutely everything they need to know about northeast Ohio. It's packed with local and national news, sports, arts and entertainment information, community events, weather, traffic and more - all updated minute-by-minute of every single day. Visit <a target="_blank" href="http://www.cleveland.com/">www.cleveland.com</a> today!</p>
	
	<hr>
	<br>
	<h3 class="green">Gold Sponsors</h3>
	
	<p>Please email <a href="mailto:partnership@cleveland2030.org">Sponsorship@cleveland2030.org</a> with inquiries!</p>
	
	<hr>
	
	<br>
	<h3 class="green">Strategic Partners</h3>


	<p>As the largest independent mutual bank in the nation, Dollar Bank remains fiercely independent and committed to providing the highest quality of banking services to individuals and businesses for many more years to come. And as a mutual institution, we have no stock to sell. As a well-capitalized bank, we have no reason to sell. This means that consumers and businesses alike will continue to find Dollar Bank as a viable option to meet their needs.</p>


	<a target="_blank" href="http://www.acroment.com/"><img width="143"  border="0" src="/images/sponsors/Acroment.gif" alt="img"></a>
	<p><a target="_blank" href="http://www.acroment.com/">Acroment Technologies, LLC</a> is a full-service IT consulting firm that specializes in supporting small businesses with unbiased and profit centric computer solutions.</p>
	
	<hr>
	
	<a target="_blank" href="http://bsob.jcu.edu/graduatebusiness"><img border="0" src="/images/sponsors/boler.gif" alt="img"></a>
	<p>The <a target="_blank" href="http://bsob.jcu.edu/graduatebusiness">Boler School of Business</a> graduate business programs inspire tomorrow's leaders through educational excellence. The MBA as well as the Master of Science in Accountancy are fully accredited by the AACSB-the international association for management education. Boler School faculty hold the highest degrees in their respective fields; in addition, they bring to the classroom their experience as business practitioners, global consultants and published researchers. The Boler School of Business' academically rigorous programs prepare students to become leaders in business. </p>
	
	<hr>
	
	<a target="_blank" href="http://www.cynergies.net/"><img width="191" border="0" src="/images/sponsors/NewCynergies.jpg" alt="img"></a>
	<p><a target="_blank" href="http://www.cynergies.net/">Cynergies Solution Group</a>, is a privately held, nationally certified Women-Owned business headquartered in Highland Heights, Ohio. Cynergies Solutions Group was started in 1997, by Debbie Holy and Ellie Chalko who attribute the triple-digit growth rate to their unique ability to respond to their clients' technology staffing needs with best-in-class solutions. Cynergies sources and delivers the most critical component in the technology industry, human capital. The cornerstone of our business model is delivering the right talent, when you need it, in time-sensitive environments where success depends on bringing your products and services to market ahead of the competition.</p>
	
	<hr>
	
	<a target="_blank" href="http://www.bw.edu/"><img height="135" border="0" src="/images/sponsors/BWlogo.jpg" alt="img"></a>
	<p><a target="_blank" href="http://www.bw.edu/">Baldwin-Wallace College</a> - Essential to your success in any organization is your ability to create opportunity.&nbsp; That requires foresight about business needs, problem-solving skills, ownership of responsibilities, and ability to communicate your ideas effectively.&nbsp; At B-W, we provide you with a practical education that has an immediate impact on your career and life.&nbsp;&nbsp; For fifteen consecutive years, US News and World Report has ranked Baldwin-Wallace among the top colleges and universities in the Midwest.&nbsp;&nbsp; B-W offers master's degrees in business and education, executive training, and bachelor degree completion for working adults.&nbsp;&nbsp; Attend classes in Berea or B-W East in Beachwood.</p>
	
	<hr>
	
	<a target="_blank" href="http://www.oswaldcompanies.com/"><img border="0" src="/images/sponsors/oswald.jpg" alt="img" ></a>
	<p><a target="_blank" href="http://www.oswaldcompanies.com/">Oswald Companies</a> specializes in risk management and insurance solutions that reduce risks for Property and Casualty, Group Benefits and Specialized Risks, as well as serve Life and Personal Insurance needs for high net worth individuals.</p>

	<hr>
	
	<br>
	<h3 class="green">Friends of the 20/30 Club</h3>
	
	<a target="_blank" href="http://www.downtownclevelandalliance.com/"><img border="0" src="/images/sponsors/dca-logo-home.gif" alt="img"></a>
	<p><a target="_blank" href="http://www.downtownclevelandalliance.com/">Downtown Cleveland Alliance (DCA)</a> is a not-for-profit organization dedicated to building a dynamic downtown. DCA partners with property owners that are part of Downtown's Business Improvement District in order to provide economic development opportunities, business attraction and retention efforts, the Clean &amp; Safe Ambassador program as well as strategic marketing initiatives for downtown Cleveland. We are committed to making Downtown Cleveland the most compelling place to live, work, and visit in the region. economic development opportunities, business attraction and retention efforts, the Clean &amp; Safe Ambassador program as well as strategic marketing initiatives for downtown Cleveland.</p>

	<hr>
	
	<a target="_blank" href="http://www.logostuffasap.com/"><img border="0" src="/images/sponsors/ASAP_2C_137REF_1207.jpg" alt="img"></a>
	<p><a target="_blank" href="http://www.logostuffasap.com/">ASAP!</a>  is a professional promotional product and custom apparel&nbsp;distributor. We work with our clients to develop promotional strategies that deliver measurable results. We specialize in:&nbsp; Tradeshow Solutions, Corporate Apparel Programs, Employee Recognition Programs, and Company E-Stores. Our qualified consultants offer the experience you need to deliver a winning promotional campaign.</p>

	<hr>
	
	<a target="_blank" href="http://www.cohencpa.com/"><img border="0" src="/images/sponsors/cohen-company.png" alt="img"></a>
	<p><a target="_blank" href="http://www.cohencpa.com/">Cohen & Company</a> provides Accounting & Audit, Business Consulting, Tax Planning & Compliance, Corporate Finance, HR Consulting, Litigation & Business Valuation, Outsourcing and Wealth Management services.  </p>
	
	<hr>
	
	<a target="_blank" href="http://www.handsonneo.org/"><img border="0" src="/images/sponsors/handson1140x140.jpg" alt="img"></a>
	<p><a target="_blank" href="http://www.handsonneo.org/">Hands On North East Ohio</a> makes it easy for people to access, and participate in, volunteer activities that align with their interests and busy schedules while building the capacity of local nonprofits, schools and municipal agencies to make real impact on Northeast Ohio. </p>
	
	<hr>
	
	<a target="_blank" href="http://www.clevelandplus.com"><img border="0" src="/images/sponsors/logoA.gif" alt="img"></a>
	<p><a target="_blank" href="http://www.clevelandplus.com">Cleveland +</a> Our region has so much. A vital economy + exciting attractions. Business + medicine + arts & culture. A talented workforce + a diverse residential population + your choice of lifestyles. Thriving cities + welcoming neighborhoods. A rich history + an exciting future. Cleveland Plus is the first-ever regional marketing campaign for Northeast Ohio. Look for our "Networking in the Middle" events to get to know Young Professionals from across the region. </p>
	
</div>