<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'about', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Board of Directors</h1>

	<div class="section board">
		<dl class="rich-text">
			<dt>President</dt>
			<dd>Andrew Bennett&nbsp;
				<a href="mailto:presidentelect@cleveland2030.org" class="board-email">president@cleveland2030.org</a>
			</dd>
			<dt>President-Elect</dt>
			<dd>Gautam Pai&nbsp;
				<a href="mailto:social@cleveland2030.org" class="board-email">presidentelect@cleveland2030.org</a>
			</dd>
			<dd>Eric Chance&nbsp;
				<a href="mailto:treasurer@cleveland2030.org" class="board-email">treasurer@cleveland2030.orgg</a>
			</dd>
			<dt>Membership Director</dt>
			<dd>Christin Miller&nbsp;
				<a href="mailto:membership@cleveland2030.org" class="board-email">membership@cleveland2030.org</a>
			</dd>
			<dt>Networking Director</dt>
			<dd>Julie Fratus&nbsp;
				<a href="mailto:networking@cleveland2030.org" class="board-email">networking@cleveland2030.org</a>
			</dd>
			<dt>Secretary</dt>
			<dd>Michael	Littlejohn&nbsp;
				<a href="mailto:secretary@cleveland2030.org" class="board-email">secretary@cleveland2030.org</a>
			</dd>
			<dt>Education Director</dt>
			<dd>Radin Mason&nbsp;
				<a href="mailto:education@cleveland2030.org" class="board-email">education@cleveland2030.org</a>
			</dd>
			<dt>Philanthropy Director</dt>
      <dd>Lindsey Raab&nbsp;
				<a href="mailto:philanthropy@Cleveland2030.org" class="board-email">philanthropy@Cleveland2030.org</a>
			</dd>
			<dt>Technology Director</dt>
			<dd>Kevin Solorio&nbsp;
				<a href="mailto:technology@cleveland2030.org" class="board-email">technology@cleveland2030.org</a>
			</dd>
			<dt>Social Director</dt>
			<dd>Jessica Snyder&nbsp;
				<a href="mailto:social@cleveland2030.org" class="board-email">social@cleveland2030.org</a>
			</dd>
			<dt>Communications Director</dt>
			<dd>Julie Provins&nbsp;
				<a href="mailto:communications@cleveland2030.org" class="board-email">communications@cleveland2030.org</a>
			</dd>			
			<dt>General Counsel</dt>
			<dd>Matt Viola&nbsp;
				<a href="mailto:generalcounsel@Cleveland2030.org" class="board-email">generalcounsel@Cleveland2030.org</a>
			</dd>
		</dl>	
	</div>
</div>
