<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3>Active Users</h2>
<p>Currently Active Users: <strong><%= @active_user_count %></strong></p>
<p>An active user is one that has an expiration date in the future
  and has "activated" and "active" set to true for their account.</p>

<h3>Search</h3>
<%= form_tag search_admin_users_path, method: :get do %>
  <label>Search for user by email</label>
  <input type="email" name="email" placeholder="joe@example.com">
  <input type="submit">
<% end %>
<%= link_to "Add New Member", new_admin_user_path, :class => 'btn btn-primary' %>
