<h1><%= @user.display_name %></h1>
<div class="membership-info">
  <%= @user.last_renewed_at ? @user.last_renewed_at.strftime('%b %d, %Y') : "Has not renewed" %><br>
  <%= link_to "Renew Membership", new_admin_user_membership_renewal_path(@user) %>
</div>
