<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'benefits', 'twitter-widget' %>
<% end %>

<div class="twoColumns-0">
	<h1>Member Benefits</h1>
	<p>The Cleveland Professional 20/30 Club strives to enhance the quality of life for young professionals and make a positive difference for the community. </p>

	<h4>Get Connected.</h4>
	<p>Are you new to Cleveland or have you lived in the area for an extended period of time and want to expand your circle of friends? Our Education, Networking, Philanthropy and Social events and opportunities will connect you with like-minded peers and help make a smooth transition into the community.</p>

	<h4>Make a Difference.</h4>
	<p>Want to make a difference, get a taste of what it's like to work with a nonprofit and learn new skills at the same time? The Club offers the opportunity for you to join several committees - Social, Networking, Philanthropy, Education - which are responsible for providing events and community projects throughout the year.</p>

	<h4>Advance your Career.</h4>
	<p>Are you looking for avenues to help develop your professional life? Through our Networking and  Education committees, the Club offers exclusive events and opportunities to learn and connect with community and business leaders.</p>
</div>

<%= render :partial => '/shared/additional_marketing' %>