<h2>
  2030 Logos
</h2>
<p>
  To download one of the following images, right click and select the save image option.
</p>
<%= image_tag 'logos/2030_blue.jpg', :size => '100x100' %><br>
<%= image_tag 'logos/2030_black.jpg', :size => '100x100'%><br>
<%= image_tag 'logos/2030_white.jpg', :size => '100x100' %><br>