<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Cleveland 2030: Admin</title>
    <%= stylesheet_link_tag 'main' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/jquery.effects.core.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ie/main.css" />  
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <header></header>
    </div>
  </body>
</html>

